<h2>Lure Information</h2>
<p>
  <%= f.label :make_id %>
  <%= f.collection_select(:make_id, Make.all, :id, :name, :prompt => "" ) %>
</p>
<p>
  <%= f.label :model_id %>
  <%= f.collection_select(:model_id, Model.find_all_by_make_id(@catch.make_id), :id, :name, :prompt => "" )%>
</p>
<p>
  <%= f.label :comments %>
  <%= f.text_field :comments %>
</p>



