<h1>Listing catches</h1>
<table>
  <tr>
    <th>Species</th>
    <th>Date caught</th>
    <th>Size</th>
    <th>Weight</th>
    <th>Location</th>
    <th>Lure Make</th>
    <th>Lure Model</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @catches.each do |catch| %>
  <tr>
    <td><%= catch.species.name %></td>
    <td><%= catch.date_caught %></td>
    <td><%= catch.size %></td>
    <td><%= catch.weight %></td>
    <td><%= catch.location %></td>
    <td><%= catch.make.name %></td>
    <td><%= catch.model.name %></td>
    <td><%= link_to 'Show', catch %></td>
    <td><%= link_to 'Edit', edit_catch_path(catch) %></td>
    <td><%= link_to 'Destroy', catch, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Catch', new_catch_path %>
