<p id="notice"><%= notice %></p>

<p>
  <b>Species:</b>
  <%= @catch.species.name %>
</p>

<p>
  <b>Date caught:</b>
  <%= @catch.date_caught %>
</p>

<p>
  <b>Size:</b>
  <%= @catch.size %>
</p>

<p>
  <b>Weight:</b>
  <%= @catch.weight %>
</p>

<p>
  <b>Location:</b>
  <%= @catch.location %>
</p>

<p>
  <b>Lure Make:</b>
  <%= @catch.make.name %>
</p>

<p>
  <b>Lure Model:</b>
  <%= @catch.model.name %>
</p>
<p>
  <b>Comments:</b>
  <%= @catch.comments %>
</p>

<%= link_to 'Edit', edit_catch_path(@catch) %> |
<%= link_to 'Back', catches_path %>
