<h1>Listing lures</h1>

<table>
  <tr>
    <th>Make</th>
    <th>Model</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lures.each do |lure| %>
  <tr>
    <td><%= lure.make %></td>
    <td><%= lure.model %></td>
    <td><%= link_to 'Show', lure %></td>
    <td><%= link_to 'Edit', edit_lure_path(lure) %></td>
    <td><%= link_to 'Destroy', lure, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lure', new_lure_path %>
