<p id="notice"><%= notice %></p>

<p>
  <b>Make:</b>
  <%= @lure.make %>
</p>

<p>
  <b>Model:</b>
  <%= @lure.model %>
</p>


<%= link_to 'Edit', edit_lure_path(@lure) %> |
<%= link_to 'Back', lures_path %>
