<!DOCTYPE html>
<html>
<head>
  <title>Lurelog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
 <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
 <% end %>
 <% if flash[:error] %>
      <p class="error"><%= flash[:error] %></p>
 <% end %>
  <% if flash[:alert] %>
      <p class="alert"><%= flash[:alert] %></p>
 <% end %>

<% if user_signed_in? %>
  <div id="user_meta">
   <%= current_user.email %>
   <% if current_user.try(:admin?) %>
   You have admin permission
   <%= link_to "Species", species_index_path %>
   <%= link_to "makes", makes_path %>
   <%= link_to "models", models_path %>
   <% end %>
   <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  </div>
  <div id="navigation">
  </div>

<% end %>

<%= yield %>

</body>
</html>
